*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F3F5;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-section{
    padding: 20px;
    background-color: white;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

div.feild{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 0 0;
}

div.feild > label{
    font-weight: 700;
}

div.feild >input, div.feild >textarea{
    background-color: #F3F4F6;
    padding:  10px;
    border:  none;
    border-radius: 10px;
}
div.feild >input:focus{
    box-shadow: 0 3px 15px rgba(59, 131, 246, .2);
}
